.main-bg {
    background-image: url("/static/images/logo_full.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo-style {
    font-family: 'Kaushan Script', cursive;
}

a {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}