{% load static %}
<!-- 400 content -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>400 - Bad Request</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="lg: py48 bg-white bg-opacity-60 w-full h-full">
      <div
        class="lg:w-2/5 mx-auto my-12 h-fit rounded shadow-2xl text-center justify-around bg-blue-400 flex flex-col border-double border-4 border-blue-800 p-4"
      >
        <h1 class="block tracking-wide text-white text-2xl font-bold mb-2">
          400 - BAD REQUEST!
        </h1>
        <p>Please click the ghost to go back home.</p>
        <a href="{% url 'home' %}" class="mx-auto my-4"
          ><img
            src="{% static 'images/ghost.webp' %}"
            width="200"
            height="200"
            alt="An image of a cartoon ghost."
        /></a>
      </div>
    </div>
  </body>
</html>
