{% extends "base.html" %}
{% block head_title %} Home {% endblock %}
{% block content %}
<!-- hero area -->
<div class="h-max text-white text-center grid bg-cover">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-60 w-full h-full"></div>
    <div class="col-start-1 row-start-1 mx-auto my-auto py-64">
        <h1 class="font-bold text-3xl pb-2 mx-auto">Hand crafted Spirits distilled in the heart of Bewdley.</h1>
        <p class="px-4 py-2 lg:max-w-2xl mx-auto">We are a small craft distillery based on the banks of the River Severn in the heart of England. Nestled away in the historic Georgian town of Bewdley, Worcestershire.</p> 
        <p class="px-4 py-2 lg:max-w-2xl mx-auto">We are located at the award winning Bewdley Brewery and all of the spirits we produce are made from beers produced onsite at the Brewery.</p>
        <p class="px-4 py-2 lg:max-w-2xl mx-auto">They are distilled and double-filtered to create a smooth clean finish. Each bottle is filled by hand, wax dipped and carefully inspected to ensure the highest quality product every time.</p>
    </div>
</div>
<!-- upcoming events -->
<div class="grid place-items-center bg-white bg-opacity-60">
    <h1 class="logo-style text-7xl py-10">Upcoming Events</h1>
{% for event in event_list %}
    <div class="lg:w-2/5 mx-auto my-4 h-100 rounded shadow-2xl justify-around bg-blue-400 flex flex-col border-double border-4 border-blue-800 p-4">
        <p class="text-sm capitalize text-center">{{ event.title }}</p>
        <p class="text-blue-800 text-2xl font-bold capitalize my-4 text-center">{{ event.description }}</p>
        <p class="text-sm capitalize text-gray-900 text-center">{{ event.location }}</p>
        <p class="text-sm capitalize text-gray-900 text-center">{{ event.date }}</p>
    </div>
</div>
{% endfor %}
</div>
<!-- products and services -->
<div class="h-max text-white text-center grid bg-cover">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-60 w-full h-full">
    <div class="col-start-1 row-start-1 mx-auto my-auto py-48">
        <h1 class="font-bold text-3xl pb-2 mx-auto">Our Products And Services</h1>
        <p class="px-4 py-2 lg:max-w-2xl mx-auto">The products made by Bewdley Spirits will be available at the Brewery
            Shop from Sptember 8th 2023. You will also be able
            to purchase our products online using the Shop Now button below. Most products will also available at the
            Brewery Tap
            room, which is open most days during the week, but please check the link for opening times.</p>
        <p class="px-4 py-2 lg:max-w-2xl mx-auto">We'd also be very happy to meet you in person, but due to the small
            scale of production we don't yet have a visitor site
            available at the distillery. Please use the Contact details to see where we're based and to arrange any
            appointments.</p>
        <p class="px-4 py-2 lg:max-w-2xl mx-auto">As well as being able to purchase our products from our online shop
            you can also join our membership scheme to enjoy
            even more savings. For more details use the Shop Now button below. We look forward to meeting you in person
            at the Brewery, Distillery or one of the Events we regularly attend.</p>
        <button class="bg-blue-400 hover:bg-blue-800 text-white font-bold py-2 px-4 m-10 rounded">Our Store</button>
    </div>
</div>
{%endblock%}